* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "poppins", sans-serif;
    font-size: 1.2rem;
    min-height: 100vh;
    padding: 20px;
}
.grid-container > *{
    box-shadow: 10px 6px 37px -13px black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: 500;
}
.grid-container{
    display:grid ;
    gap: 20px;
    grid-template: 
    "header header header" 50px
    "main main sidebar" auto
    "footer footer footer" 100px
    ; 
    ; 
    .header {
        grid-area: header;
        background-color: blue;
    }
    .sidebar{
        grid-area: sidebar;
        background-color: aqua;
    }
    .main{
        grid-area: main;
        background-color: aliceblue;
    }
    .footer{
        grid-area: footer;
        background-color: azure;
    }
    
}
#uno{
    height: 500px;
    width: 200px;
}
#dos{
    height: 300px;
    width: 300px;
}
#tres{
    height: 300px;
    width: 300px;
}
.contenedor{
padding: 5px ;
display: flex;
flex-direction: row;
}
#titulo{
    text-align: center;
}
.twitter facebook{
    color: blue;
}
.tiktok{
    color: black;
}
.instagram{
    color: orange;
}